# List Functions

In [16]:
#List
lst = [1,"John Joes",2.89,"Alpas"]
lst

[1, 'John Joes', 2.89, 'Alpas']

In [17]:
# 1. append
lst.append(29)
lst

[1, 'John Joes', 2.89, 'Alpas', 29]

In [22]:
#2. insert function
lst.insert(5,4.56)
lst

[1, 'John Joes', 2.89, 'Alpas', 29, 4.56]

In [23]:
#3.pop element
lst.pop()

4.56

In [24]:
#4.
lst.index("Alpas")

3

In [25]:
#5.remove 
lst.remove(29)

In [26]:
lst

[1, 'John Joes', 2.89, 'Alpas']

# Dictionary -DICT

In [27]:
dic = {"Item1":"Ball","Item2":"Bat","Item3":"Cricket","Players":11}
dic

{'Item1': 'Ball', 'Item2': 'Bat', 'Item3': 'Cricket', 'Players': 11}

In [28]:
#1. show keys
dic.keys()

dict_keys(['Item1', 'Item2', 'Item3', 'Players'])

In [29]:
#2.show dictionary items
dic.items()

dict_items([('Item1', 'Ball'), ('Item2', 'Bat'), ('Item3', 'Cricket'), ('Players', 11)])

In [30]:
#3. get value using key
dic.get('Players')

11

In [31]:
#4. copy dictionary
newdic = dic.copy();
newdic

{'Item1': 'Ball', 'Item2': 'Bat', 'Item3': 'Cricket', 'Players': 11}

In [32]:
#5. Clear data new dictionary
newdic.clear();
newdic

{}

# Sets

In [34]:
sets ={"alpha",34,"beta",2}
sets

{2, 34, 'alpha', 'beta'}

In [36]:
#1 add element
sets.add(8.9)
sets

{2, 34, 8.9, 'alpha', 'beta'}

In [37]:
#2 union of two set
sets1 = {34,"beta",9.0}
sets.union(sets1)

{2, 34, 8.9, 9.0, 'alpha', 'beta'}

In [38]:
#3. check whether it is a subset
sets1.issubset(sets)

False

In [39]:
#4. check whether it is a superset
sets1.issuperset(sets)

False

In [42]:
#5. Intersection of two sets.
sets.intersection(sets1)

{34, 'beta'}

# Tuples

In [44]:
tup = ('python',3,2,3.5,'java',12,13)
tup

('python', 3, 2, 3.5, 'java', 12, 13)

In [46]:
#1.count of element
tup.count(2)

1

In [47]:
#2. index of element
tup.index('python')

0

In [48]:
#3.length of tuple
len(tup)

7

In [50]:
#4. print elements form index 1 to 4
tup[1:5]

(3, 2, 3.5, 'java')

In [51]:
#5.any tuple
any(tup)

True

# String

In [52]:
string = "Python Essential"
string

'Python Essential'

In [55]:
#1 count element
string.count('t')

2

In [56]:
#2. len
len(string)

16

In [57]:
#3. find
string.find('E')

7

In [58]:
#4.replace
string.replace("E","e")

'Python essential'

In [59]:
#5 Upper
string.upper()

'PYTHON ESSENTIAL'

In [60]:
#6. Lower
string.lower()

'python essential'